<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>252642422591-sb1vdq28dl7436semmil9g3cs6jtif0i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.252642422591-sb1vdq28dl7436semmil9g3cs6jtif0i</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>252642422591-p48rri899ph4pooc14r4u2sp0gs93ger.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBa79UUSAnCzS7keZ5gcG17zVyG36ojyb8</string>
	<key>GCM_SENDER_ID</key>
	<string>252642422591</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.project1</string>
	<key>PROJECT_ID</key>
	<string>vizuara-a8cb9</string>
	<key>STORAGE_BUCKET</key>
	<string>vizuara-a8cb9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:252642422591:ios:19f88e489f4ac92f382d8a</string>
</dict>
</plist>